@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/
html {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 1 */
  line-height: 1.15; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  tab-size: 4; /* 4 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  scroll-snap-align: start;
  margin: 0 60px 0 60px;
}
.hero__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 120%;
  z-index: 2;
  margin-bottom: -40px;
  margin-left: -80px;
  transform: rotate(-20deg);
}
.hero__name img {
  width: 100%;
  height: auto;
  display: block;
}
.hero__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  z-index: 1;
}
.hero__image img {
  width: 100%;
  height: auto;
  display: block;
}
.hero__image::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
  background-size: 2px 2px;
  opacity: 0.2;
}
.hero__summary {
  font-family: "Instrument Serif", serif;
  color: #083d77;
}
.hero__summary p {
  text-align: justify;
}

.work {
  height: 100dvh;
  overflow: hidden;
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.work__title {
  width: 60%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: contain;
}
.work--second, .work--third {
  display: grid;
  grid-template-rows: 1fr;
}
.work__cell {
  min-height: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: "Elms Sans", Sans-serif;
}
.work__cell--photo {
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.work__cell--photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.work__cell--des {
  padding: 1.5rem;
  text-align: justify;
  color: #061c32;
}
.work__cell--des.work__cell--purple {
  background: #d5b3ff;
}
.work__cell--des.work__cell--yellow {
  background: #fbd960;
}
.work__cell--des.work__cell--green {
  background: #e0ff4f;
}
.work__cell--des.work__cell--pink {
  background: #a81f3a;
}
.work__cell--des.work__cell--lightPink {
  background: #e9b7ce;
}
.work__cell--des.work__cell--blue {
  background: #6ecdd7;
}

.skill {
  scroll-snap-align: start;
  position: relative;
  height: 100dvh;
  display: flex;
  align-items: stretch;
}
.skill__background {
  position: absolute;
  inset: 0;
}
.skill__background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.skill__background::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8352941176) 1px, transparent 1px);
  background-size: 4px 4px;
  opacity: 0.2;
}
.skill__box {
  background-color: #083d77;
  margin: 1.5rem;
  z-index: 1;
  position: relative;
  padding: 1rem;
  overflow: hidden;
}
.skill__box__grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  overflow: hidden;
  word-break: break-word;
}
.skill__box__grid .skill__item {
  padding: 1rem;
  border: none;
}
.skill__box__grid .skill__item:nth-child(1) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.skill__box__grid .skill__item:nth-child(2) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.skill__box__grid .skill__item:nth-child(3) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.skill__box__item {
  padding: 1rem;
  overflow-wrap: break-word;
  font-size: 0.75rem;
  min-width: 0;
}
.skill__box h3 {
  color: #fffee0;
  font-size: 0.9rem;
}
.skill__box ul {
  padding-left: 0;
  margin: 0;
}
.skill__box li {
  color: #fffee0;
  list-style: none;
  font-size: small;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100%;
}

body {
  height: 100%;
  background-color: #fffee0;
}

/*# sourceMappingURL=output.css.map */
