@use "../partials/mixins" as *;
@use "../partials/fonts";
@use "../partials/variables" as *;
@use "../partials/colors" as *;

.skill {
  scroll-snap-align: start;
  position: relative;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__background {
    position: absolute;
    inset: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: radial-gradient(circle, #000000d5 1px, transparent 1px);
      background-size: 4px 4px;
      opacity: 0.2;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    @include flex(column, center, center);
    width: 100%;
    z-index: 2;
    margin-top: 1rem;
    margin-bottom: -80px;
    margin-left: -80px;
    transform: rotate(-10deg);

    img {
      width: 60%;
      height: auto;
      display: block;
    }
  }

  &__box {
    background-color: $primary-color;
    font-family: $font-secondary;
    font-size: 14px;

    margin: 3rem;
    z-index: 1;
    position: relative;
    padding: 0.5rem;
    overflow: hidden;
    flex: 1;

    &__grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 0;
      overflow: hidden;
      word-break: break-word;

      .skill__item {
        padding: 1rem;
        border: none;

        &:nth-child(1) {
          border-right: 0.5px solid $bg;
          border-bottom: 0.5px solid $bg;
        }
        &:nth-child(2) {
          border-bottom: 0.5px solid $bg;
        }
        &:nth-child(3) {
          border-right: 0.5px solid $bg;
        }
      }
    }

    &__item {
      overflow-wrap: break-word;
      font-size: 0.75rem;
      min-width: 0;
    }

    h3 {
      color: $bg;
      font-size: 0.9rem;
      opacity: 0.6;
      text-transform: uppercase;
    }

    ul {
      padding-left: 0;
      margin: 0;
    }

    li {
      color: $bg;
      list-style: none;
      font-size: small;
      padding: 0;
      margin: 0;
      list-style: none;
    }
  }
}

@media (min-width: 768px) {
  .skill {
    &__title {
      position: absolute;

      top: 5rem;
      left: 1rem;
      margin: 0;
      width: auto;
      transform: rotate(-10deg);
      transform-origin: top left;
      z-index: 3;

      img {
        width: 40vw;
        height: auto;
      }
    }

    &__box {
      z-index: 1;
      padding: 2rem 0 2rem 0;
      margin: 5rem;

      h3 {
        font-size: 1.2rem;
      }
      li {
        font-size: 1rem;
      }

      &__grid {
        padding-top: 7rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        text-align: center;

        .skill__item {
          &:nth-child(1) {
            border-right: 0.5px solid $bg;
            border-bottom: none;
          }
          &:nth-child(2) {
            border-bottom: none;
            border-right: 0.5px solid $bg;
          }
          &:nth-child(3) {
            border-right: 0.5px solid $bg;
          }
        }
      }
    }
  }
}
